.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

/* Presenter Name */
.name {
    font-size: 0.6em;
}

.agenda{
    line-height:150%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 25px;
}

.avatar {
    width: 10%;
    border-radius: 50%;
}

.wuhanstudio {
    width: 10%;
    border-radius: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo {
    width: 20%;
}

.scrollable {
    height: 700px;
    overflow-y: visible;  !important;
    overflow-x: hidden !important;
}
